[submodule "CherryUSB"]
	path = CherryUSB
	url = https://github.com/sakumisu/CherryUSB.git
[submodule "CherryRB"]
	path = CherryRB
	url = https://github.com/cherry-embedded/CherryRB.git
[submodule "projects/HSLink-Pro/third_party_components/tlsf/tlsf"]
	path = projects/HSLink-Pro/third_party_components/tlsf/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "projects/HSLink-Pro/third_party_components/rapidjson/rapidjson"]
	path = projects/HSLink-Pro/third_party_components/rapidjson/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "projects/HSLink-Pro/third_party_components/multibutton/multibutton"]
	path = projects/HSLink-Pro/third_party_components/multibutton/multibutton
	url = https://github.com/0x1abin/MultiButton.git
[submodule "projects/HSLink-Pro/third_party_components/EasyLogger/EasyLogger"]
	path = projects/HSLink-Pro/third_party_components/EasyLogger/EasyLogger
	url = https://github.com/armink/EasyLogger.git
[submodule "projects/HSLink-Pro/third_party_components/fal/fal"]
	path = projects/HSLink-Pro/third_party_components/fal/fal
	url = https://github.com/HSLink/fal.git
[submodule "projects/HSLink-Pro/third_party_components/flashdb/FlashDB"]
	path = projects/HSLink-Pro/third_party_components/flashdb/FlashDB
	url = https://github.com/armink/FlashDB.git
[submodule "projects/HSLink-Pro/third_party_components/b64.c/b64.c"]
	path = projects/HSLink-Pro/third_party_components/b64.c/b64.c
	url = https://github.com/jwerle/b64.c.git
[submodule "projects/HSLink-Pro/third_party_components/MultiTimer/MultiTimer"]
	path = projects/HSLink-Pro/third_party_components/MultiTimer/MultiTimer
	url = https://github.com/HSLink/MultiTimer.git
